<!DOCTYPE html>
<html>
<head>
<%= render :partial => 'layouts/head' %>
</head>
<body>
<!--header-->
<div class="header">
  <!--menu-->
  <nav id="main_menu" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--logo-->
        <div class="logo">
          <a href="/"><%= image_tag("logo.png",class: "animated bounceInDown main-logo", alt: "Simple Buy Back")%></a>
        </div>
      </div>

      <div class=" navbar-default" id="menu">
        <ul class="nav navbar-nav pull-right">
          <% if @homepage %>
          <li class="dropdown"><a href="#"><strong>Sell iPhone</strong></a>
            <ul class="dropdown-menu custommenu" data-firstpanel="iPhone">
              <li  data-secondpanel="iphone6pluscarrier"><a href="#">iPhone 6 Plus</a></li>
              <li data-secondpanel="iphone6carrier"><a href="#">iPhone 6</a></li>
              <li data-secondpanel="iphone5scarrier"><a href="#">iPhone 5S</a></li>
              <li data-secondpanel="iphone5ccarrier"><a href="#">iPhone 5C</a></li>
              <li data-secondpanel="iphone5carrier"><a href="#">iPhone 5</a></li>
              <li data-secondpanel="iphone4scarrier"><a href="#">iPhone 4S</a></li>
              <li data-secondpanel="iphone4carrier"><a href="#">iPhone 4</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><strong>Sell Cellphone</strong></a>
            <ul class="dropdown-menu custommenu" data-firstpanel="anyphone">
              <li data-secondpanel="blackberrycarriers"><a href="#">Blackberry</a></li>
              <li data-secondpanel="samsungcarriers"><a href="#">Samsung</a></li>
              <li data-secondpanel="htccarriers"><a href="#">HTC</a></li>
              <li data-secondpanel="nokiacarriers"><a href="#">Nokia</a></li>
            </ul>
          </li>
           <% else %>
              <li class="dropdown"><%= link_to "Sell iPhone", main_app.root_path, style: "font-weight: bold;" %>
              <li class="dropdown"><%= link_to "Sell Cellphone", main_app.root_path, style: "font-weight: bold;" %>
              </li>
           <% end %>
          <li class="dropdown" id="about"><%= link_to "About", main_app.home_about_path, style: "font-weight: bold;" %></li>
          <li class="dropdown" id="contact"><a href="/home/contact"><strong>Contact</strong></a></li>
          <% if user_signed_in? %>
              <li class="dropdown <%= is_active?(main_app.edit_user_registration_path) %>"><a><strong>Your Account</strong></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= main_app.home_order_path %>"><strong>Your Orders</strong></a></li>
                  <li><a href="<%= main_app.edit_user_registration_path %>"><strong>Edit Account</strong></a></li>
                  <li><a rel="nofollow" href="<%= main_app.destroy_user_session_path %>" data-method="delete"><strong>Sign out</strong></a></li>
                </ul>
              </li>
          <% else %>
              <li class="dropdown"><a href="<%= main_app.new_user_session_path%>"><strong>Sign In</strong></a></li>
          <% end %>
          <li id="link-to-cart" data-hook><%= link_to_cart %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- page -->
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<div class="clear pad45"></div>
<!--footer-->
<div id="footer_alt">
  <div class="container"><div class="row">
    <!--column 1-->
    <div class="col-xs-3" style="padding-left: 5px;">
      <h6>get in touch</h6>
      <ul>
        <li>
          <p style="color: #888;"> If you have any questions feel free to give us a ring or email us.
            We're here on weekdays from 9am - 5pm CST. We're friendly we promise <i class="fa fa-thumbs-o-up"></i>
          </p>

          <p style="color: #ffffff;"><i class="fa fa-envelope-o hue" style="margin-right: 4px;"></i>
            <a href="mailto:name@example.com">support@simplebuyback.com</a><br/>
            <i class="fa fa-phone hue"></i>(210) 960-7222
          </p>
        </li>
      </ul>
    </div>
    <!--column 2-->
    <div class="col-xs-3">
      <h6>Helpful links</h6>
      <ul>
        <li>
          <div class="media-body">
            <%= link_to "About Us", main_app.home_about_path %></div>
        </li>
        <li>
          <div class="media-body">
            <%= link_to "Contact Us", main_app.home_contact_path %></div>
        </li>
        <li>
          <div class="media-body">
            <%= link_to "Frequently Asked Questions", main_app.home_faq_path %></div>
        </li>
        
      </ul>
    </div>
    <!--column 3-->
    <div class="col-xs-3">
      <h6>Connect With Us</h6>      
      <p>
      <a href="https://twitter.com/SimpleBuyBack" class="zocial icon twitter"></a>
      <a href="https://www.facebook.com/simplebuyback" class="zocial icon facebook"></a>
      <a href="https://plus.google.com/113130005621611914747" class="zocial icon googleplus"></a>
      <a href="https://www.linkedin.com/company/simplebuyback" class="zocial icon linkedin"></a>
      </p>
    </div>
    <div class="col-xs-3 center">
      <h6 style="padding-bottom: 0; text-align: left;" > Powered By</h6>
      <%= link_to image_tag("oliversface.png", class: "oliver center-block"), main_app.home_about_path %>
      <%= link_to "Mr. Oliver", main_app.home_about_path, style: "color: #fff;" %>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
    <table class="trademark">
      <tr>
        <td style="vertical-align: bottom;">
          <p style="color: #ffffff;">SimpleBuyBack Inc. &copy; 2014. All Rights Reserved.</p>
        </td>
        <td style="text-align: center; vertical-align: bottom;">
          <a href="#"><Strong>Privacy Policy</Strong></a> | <a href="#"><strong>Terms & Conditions</strong></a>
        </td>
        <td>
          <p style="text-align:right;">SimpleBuyBack Trademark is a registered trademark of SimpleBuyBack Inc.
            All other trademarks and logos are the property of their respective owners.</p>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>
<!--//footer-->

<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
<!--//end-->

</body>

</html>
