<!DOCTYPE html>
<html>
<%= render :partial => 'layouts/head' %>
<meta name="google-site-verification" content="FcExlTO1MMdo4xpZQ7leGiXywwuH7rygXpp2wmjfTuQ" />
</head>
<body>
<!--header-->
<div class="header">
  <!--menu-->
  <nav id="main_menu" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--logo-->
        <div class="logo">
          <a href="/"><%= image_tag("logo.png",class: "animated bounceInDown main-logo", alt: "Simple Buy Back")%></a>
        </div>
      </div>

      <div class=" navbar-default" id="menu">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown"><a href="#"><strong>Sell iPhone</strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">iPhone 5S</a></li>
              <li><a href="#">iPhone 5C</a></li>
              <li><a href="#">iPhone 5</a></li>
              <li><a href="#">iPhone 4S</a></li>
              <li><a href="#">iPhone 4</a></li>

            </ul>
          </li>
          <li class="dropdown"><a href="#"><strong>Sell Cellphone</strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">Apple</a></li>
              <li><a href="#">Blackberry</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Motorola</a></li>
              <li><a href="#">HTC</a></li>
              <li><a href="#">Nokia</a></li>
            </ul>
          </li>
          <li class="dropdown"><a><strong>Support</strong></a>
            <ul class="dropdown-menu">
              <li><a href="/home/contact">Contact Us</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
          <% if user_signed_in? %>
              <li class="dropdown <%= is_active?(main_app.edit_user_registration_path) %>"><a><strong>Your Account</strong></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= main_app.home_order_path %>"><strong>Your Orders</strong></a></li>
                  <li><a href="<%= main_app.edit_user_registration_path %>"><strong>Edit Account</strong></a></li>
                  <li><a rel="nofollow" href="<%= main_app.destroy_user_session_path %>" data-method="delete"><strong>Sign out</strong></a></li>
                </ul>
              </li>
          <% else %>
              <li class="dropdown"><a href="<%= main_app.new_user_session_path%>"><strong>Sign In / Sign Up</strong></a></li>
          <% end %>
          <li id="link-to-cart" data-hook><%= link_to_cart %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- page -->
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="clear pad45"></div>
<%= yield %>
<div class="clear pad45"></div>
<!--footer-->
<div id="footer_alt">
  <div class="container"><div class="row">
    <!--column 1-->
    <div class="col-xs-3" style="padding-left: 5px;">
      <h6>get in touch</h6>
      <ul>
        <li>
          <p> I'll fill in this later </p>

          <p style="color: #ffffff;"><i class="fa fa-envelope-o hue"></i>
            <a href="mailto:name@example.com">support@simplebuyback.com</a><br/>
            <i class="fa fa-phone hue"></i>(210) 960-7222
          </p>
        </li>
      </ul>
    </div>
    <!--column 2-->
    <div class="col-xs-3">
      <h6>popular links</h6>
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <a href="#">A link i'll fill in later</a></div>
        </li>
        <li class="media">
          <div class="media-body">
            <a href="#">A link i'll fill in later</a></div>
        </li>
        <li class="media">
          <div class="media-body">
            <a href="#">A link i'll fill in later</a></div>
        </li>
      </ul>
    </div>
    <!--column 3-->
    <div class="col-xs-3">
      <h6> fill this in later </h6>
    </div>
    <!--column 4-->
    <div class="col-xs-3">
      <h6>Connect With Us!</h6>
      <a href="http://www.twitter.com/simpletronix" class="zocial icon twitter"></a>
      <a href="http://www.facebook.com/simpletronix" class="zocial icon facebook"></a>
      <a href="https://plus.google.com/100741076038418268673" class="zocial icon googleplus"></a>
      <div style="color: #ffffff;">
        Simple Buy Back Inc.
        &copy; 2014 <br>All Rights Reserved <br><a href="#"><Strong>Privacy Policy</Strong></a> | <a href="#"><strong>Terms & Conditions</strong></a>
      </div>
    </div>
  </div>
  </div>
</div>
<!--//footer-->

<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
<!--//end-->

</body>

</html>
