<div class="container">
<div class="pad25"></div>
<fieldset id="order_summary" data-hook>
  <div class="col-xs-12">
  <legend><%= Spree.t(:order_number, :number => @order.number) %></legend>
  <% if order_just_completed?(@order) %>
    <strong><%= Spree.t(:thank_you_for_your_order) %></strong>
  <% end %>
  </div>

  <div id="order" data-hook>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

    <br class="clear" />
  <div class="col-xs-4 col-xs-offset-2">
    <p data-hook="links ">
      <%= link_to "Back to Home Page", main_app.home_index_path, :class => "btn btn-success " %>
      <% unless order_just_completed?(@order) %>
        <% if try_spree_current_user && respond_to?(:spree_account_path) %>
          <%= link_to Spree.t(:my_account), spree_account_path, :class => "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
  </div>
</fieldset>
</div>