<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h2 class="panel-title" style="font-weight: 600; font-size: 21px !important;">How would you like to be paid?</h2>
  </div>
  <div class="panel-body" data-hook="checkout_payment_step">

    <% if @payment_sources.present? %>
      <div class="card_options">
        <%= radio_button_tag 'use_existing_card', 'yes', true %>
        <label for="use_existing_card_yes">Use an existing card on file</label>
        <br/>
        <%= radio_button_tag 'use_existing_card', 'no' %>
        <label for="use_existing_card_no">Use a new card / payment method</label>
      </div>

      <div id="existing_cards">
        <p class="field" data-hook="existing_cards">
          <table class="existing-credit-card-list">
            <tbody>
              <% @payment_sources.each do |card| %>
                <tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
                  <td><%= card.name %></td>
                  <td><%= card.display_number %></td>
                  <td><%= card.month %></td>
                  <td><%= card.year %></td>
                  <td>
                    <%= radio_button_tag "existing_card", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </p>
      </div>
    <% end %>

    <ul class="list-group" id="payment-method-fields" data-hook>
      <% @order.available_payment_methods.each do |method| %>
      <li class="list-group-item">
        <label>
          <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
          <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
        </label>
      </li>
      <% end %>
    </ul>

    <ul class="nav" id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <% if method.name.include?('PayPal') %>
              <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                <h2 style="font-weight: 600;">Send Payment To...</h2>
                <p id="minstrs payment_well clearfix" data-hook>
                  <b>PayPal Email Address</b><br />
                  <%= text_field_tag "email" , nil,  :placeholder => "PayPal Email", size: "30", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', oninvalid: "setCustomValidity('Not a valid email format')" %><br/><br />
                  <b>Confirm PayPal Email Address</b><br />
                  <%= form.text_field :special_instructions, size: "30", placeholder: "Confirm PayPal Email", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', oninvalid: "setCustomValidity('Not a valid email format')" %>
                </p>
              </li>
        <% else %>
              <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
                <h2 style="font-weight: 600;">Make Check Payable to...</h2>
                <p id="minstrs payment_well clearfix" data-hook>
                  <b>Name on Check</b><br />
                  <%= text_field_tag "email ", nil,  :placeholder => "Your Name", size: "30" %><br/><br />
                  <b> Confirm Name on Check </b><br />
                  <%= form.text_field :special_instructions, size: "30", placeholder: "Confirm Name" %>
                </p>

              </li>
        <% end %>
      <% end %>
    </ul>
    
    <%= submit_tag "Complete Order!", class: 'btn btn-lg btn-success primary delivery_button', style: 'float:right; font-size: 25px; margin-top: 10px;' %>
    <script>Spree.disableSaveOnClick();</script>
  </div>
</div>

