<div class="pad20"></div>
<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row" data-hook="checkout_header">
    <div class="col-xs-8 col-xs-offset-2" style="border-bottom: 1px solid black; margin-bottom: 10px; text-align: center;"><strong><h3>Checkout Process</h3></strong></div>
    <div class="col-xs-8 col-xs-offset-2" data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>
  <div class="pad20"></div>

  <div class="row" data-hook="checkout_content">
    <div class="<%= if @order.state != 'confirm' then 'col-xs-8 col-xs-offset-2' else 'col-xs-10 col-xs-offset-1' end %>" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <%= render @order.state, :form => form %>
      <% end %>
    </div>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
