<!-- Modal must be at the top to render properly when click links in the panels -->
<%= render partial: "memory_modal" %> 
<%= render partial: "ipad_modal" %>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <h1>Sell Your Smartphone and Electronics</h1>
    </div>
  </div>
  <div class="row" id="accordion">
      <div class="col-xs-3">
      <h2 class="colour"><strong>Why Sell To Us?</strong></h2>
      <div class="maketable">
        <%= image_tag("icons/checkmark.png", class: "reasons icon-img") %>
        <p class="reasons"><strong>  Competitive Prices</strong></p>
      </div>
      <div class="maketable">
        <%= image_tag("icons/Mail.png", class: "reasons icon-img") %>
        <p class="reasons"><strong>  Free Shipping</strong></p>
      </div>
      <div class="maketable">
        <%= image_tag("icons/Watches.png", class: "reasons icon-img") %>
        <p class="reasons"><strong>  Fast Payment</strong></p>
      </div>
      <div class="maketable">
        <%= image_tag("icons/green_infinity.png", class: "reasons icon-img") %>
        <p class="reasons"><strong>  No Risk</strong></p>
      </div>
      </div>
      <div class="col-xs-3 growimages">
        <%= image_tag("devices/iPhone5swithlogo.png", class: "center-block device_image", :data => {:toggle => "collapse", :parent => "#accordion", :target => "#iPhone"}) %><br>
        <button type="button" class="btn btn-success btn-lg btn-rounded center-block" data-toggle="collapse" data-parent="#accordion" data-target="#iPhone"> Sell Your iPhone</button>
      </div>
      <div class="col-xs-3 growimages">
        <%= image_tag("devices/galaxywithlogo.png", class: "center-block device_image", :data => {:toggle => "collapse", :parent => "#accordion", :target => "#anyphone"}) %><br>
        <button type="button" class="btn btn-success btn-lg btn-rounded center-block"  data-toggle="collapse" data-parent="#accordion" data-target="#anyphone"> Sell Any Phone</button>
      </div>
      <div class="col-xs-3 growimages">
        <%= image_tag("devices/iPadairwithlogo.png", class: "center-block device_image", :data => {:toggle => "collapse", :parent => "#accordion", :target => "#iPad"}) %><br>
        <button type="button" class="btn btn-success btn-lg btn-rounded center-block" data-toggle="collapse" data-parent="#accordion" data-target="#iPad"> Sell Your iPad</button>
      </div>
      <div class="col-xs-9 col-xs-offset-3">
      <div id="iPhone" class="collapse">
        <div id="iphonepanel" class="homepanel">
        <span>Select Your iPhone:</span>
        <%= render partial: "iphone_modal" %>  
        <table class="table">
          <tr>
            <th class="growimages"><%= image_tag("phones/apple/iPhone6Plus.png",style: "max-width: 92px; margin-top: -10px;", alt: "iPhone 6 Plus", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone6pluscarrier"}) %><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 6 Plus</button></th>
            <th class="growimages"><%= image_tag("phones/apple/iPhone6.png",style: "margin-top: -3px;" ,class: "apple_phone", alt: "iPhone 6", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone6carrier"}) %><br><button type="button" class="btn btn-success btn-rounded center-block" style="margin-top: 1px;">iPhone 6</button></th>
            <th class="growimages"><%= image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone5scarrier"}) %><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 5S</button></th>
            <th class="growimages"><%= image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5C", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone5ccarrier"}) %><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 5C</button></th>
            <th class="growimages"><%= image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone", alt: "iPhone 5", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone5carrier"}) %><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 5</button></th>            
            <th class="growimages"><%= image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone", alt: "iPhone 4S", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone4scarrier"})%><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 4S</button></th>
            <th class="growimages"><%= image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone", alt: "iPhone 4", :data => {:toggle => "collapse", :parent => "#iphonepanel", :target => "#iphone4carrier"})%><br><button type="button" class="btn btn-success btn-rounded center-block">iPhone 4</button></th>
          </tr>
        </table>
          <div class="collapse" id="iphone6pluscarrier">
            <div id="iphone6plusmemory" class="homepanel">
            <span>Select Your Carrier:</span>
            <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone6plusmemory", :target => "#iphone6plusmemoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone6plusmemory", :target => "#iphone6plusmemorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone6plusmemory", :target => "#iphone6plusmemoryverizon"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone6plusmemory", :target => "#iphone6plusmemorysprint"}) %></th>
              </tr>
            </table>
            <div id="iphone6plusmemoryatt" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 Plus 16GB - AT&T</td>
                  <td class="center">iPhone 6 Plus 64GB - AT&T</td>
                  <td class="center">iPhone 6 Plus 128GB - AT&T</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-16gb-at-t" %><a href="/store/products/apple-iphone-6-plus-16gb-at-t" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-64gb-at-t" %><a href="/store/products/apple-iphone-6-plus-64gb-at-t" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-128gb-at-t" %><a href="/store/products/apple-iphone-6-plus-128gb-at-t"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6plusmemorytmobile" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 Plus 16GB - T-Mobile</td>
                  <td class="center">iPhone 6 Plus 64GB - T-Mobile</td>
                  <td class="center">iPhone 6 Plus 128GB - T-Mobile</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-16gb-t-mobile" %><a href="/store/products/apple-iphone-6-plus-16gb-t-mobile" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-64gb-t-mobile" %><a href="/store/products/apple-iphone-6-plus-64gb-t-mobile" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-128gb-t-mobile" %><a href="/store/products/apple-iphone-6-plus-128gb-t-mobile"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6plusmemoryverizon" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 Plus 16GB - Verizon</td>
                  <td class="center">iPhone 6 Plus 64GB - Verizon</td>
                  <td class="center">iPhone 6 Plus 128GB - Verizon</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-16gb-verizon" %><a href="/store/products/apple-iphone-6-plus-16gb-verizon" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-64gb-verizon" %><a href="/store/products/apple-iphone-6-plus-64gb-verizon" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-128gb-verizon" %><a href="/store/products/apple-iphone-6-plus-128gb-verizon"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6plusmemorysprint" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 Plus 16GB - Sprint</td>
                  <td class="center">iPhone 6 Plus 64GB - Sprint</td>
                  <td class="center">iPhone 6 Plus 128GB - Sprint</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-16gb-sprint" %><a href="/store/products/apple-iphone-6-plus-16gb-sprint" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-64gb-sprint" %><a href="/store/products/apple-iphone-6-plus-64gb-sprint" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6Plus.png", class: "apple_phone", alt: "iPhone 6 Plus"), "/store/products/apple-iphone-6-plus-128gb-sprint" %><a href="/store/products/apple-iphone-6-plus-128gb-sprint"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            </div>
          </div>  
          <div class="collapse" id="iphone6carrier">
            <div id="iphone6memory" class="homepanel">
            <span>Select Your Carrier:</span>
            <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone6memory", :target => "#iphone6memoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone6memory", :target => "#iphone6memorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone6memory", :target => "#iphone6memoryverizon"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone6memory", :target => "#iphone6memorysprint"}) %></th>
              </tr>
            </table>
            <div id="iphone6memoryatt" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 16GB - AT&T</td>
                  <td class="center">iPhone 6 64GB - AT&T</td>
                  <td class="center">iPhone 6 128GB - AT&T</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-16gb-at-t" %><a href="/store/products/apple-iphone-6-16gb-at-t" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-64gb-at-t" %><a href="/store/products/apple-iphone-6-64gb-at-t" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-128gb-at-t" %><a href="/store/products/apple-iphone-6-128gb-at-t"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6memorytmobile" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 16GB - T-Mobile</td>
                  <td class="center">iPhone 6 64GB - T-Mobile</td>
                  <td class="center">iPhone 6 128GB - T-Mobile</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-16gb-t-mobile" %><a href="/store/products/apple-iphone-6-16gb-t-mobile" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-64gb-t-mobile" %><a href="/store/products/apple-iphone-6-64gb-t-mobile" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-128gb-t-mobile" %><a href="/store/products/apple-iphone-6-128gb-t-mobile"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6memoryverizon" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 16GB - Verizon</td>
                  <td class="center">iPhone 6 64GB - Verizon</td>
                  <td class="center">iPhone 6 128GB - Verizon</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-16gb-verizon" %><a href="/store/products/apple-iphone-6-16gb-verizon" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-64gb-verizon" %><a href="/store/products/apple-iphone-6-64gb-verizon" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-128gb-verizon" %><a href="/store/products/apple-iphone-6-128gb-verizon"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            <div id="iphone6memorysprint" class="collapse homepanel">
              <span>Select iPhone Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
              <table class="table">
                <tr>
                  <td class="center">iPhone 6 16GB - Sprint</td>
                  <td class="center">iPhone 6 64GB - Sprint</td>
                  <td class="center">iPhone 6 128GB - Sprint</td>
                </tr>
                <tr>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-16gb-sprint" %><a href="/store/products/apple-iphone-6-16gb-sprint" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-64gb-sprint" %><a href="/store/products/apple-iphone-6-64gb-sprint" class="btn btn-success btn-rounded center-block">64GB</a></th>
                  <th><%= link_to image_tag("phones/apple/iPhone6.png", class: "apple_phone", alt: "iPhone 6"), "/store/products/apple-iphone-6-128gb-sprint" %><a href="/store/products/apple-iphone-6-128gb-sprint"class="btn btn-success btn-rounded center-block">128GB</a></th>
                </tr>
              </table>
            </div>
            </div>
          </div>  
          <div class="collapse" id="iphone5scarrier">
            <div id="iphone5smemory" class="homepanel">
            <span>Select Your Carrier:</span>
            <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone5smemory", :target => "#iphone5smemoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone5smemory", :target => "#iphone5smemorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone5smemory", :target => "#iphone5smemoryverizon"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone5smemory", :target => "#iphone5smemorysprint"}) %></th>
              </tr>
            </table>
              <div id="iphone5smemoryatt" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                  <tr>
                    <td class="center">iPhone 5S 16GB - AT&T</td>
                    <td class="center">iPhone 5S 32GB - AT&T</td>
                    <td class="center">iPhone 5S 64GB - AT&T</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-16gb-at-t" %><a href="/store/products/apple-iphone-5s-16gb-at-t" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-32gb-at-t" %><a href="/store/products/apple-iphone-5s-32gb-at-t" class="btn btn-success btn-rounded center-block">32GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-64gb-at-t" %><a href="/store/products/apple-iphone-5s-64gb-at-t"class="btn btn-success btn-rounded center-block">64GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5smemorytmobile" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5S 16GB - T-Mobile</td>
                    <td class="center">iPhone 5S 32GB - T-Mobile</td>
                    <td class="center">iPhone 5S 64GB - T-Mobile</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-16gb-t-mobile" %><a href="/store/products/apple-iphone-5s-16gb-t-mobile" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-32gb-t-mobile" %><a href="/store/products/apple-iphone-5s-32gb-t-mobile" class="btn btn-success btn-rounded center-block">32GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-64gb-t-mobile" %><a href="/store/products/apple-iphone-5s-64gb-t-mobile"class="btn btn-success btn-rounded center-block">64GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5smemoryverizon" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5S 16GB - Verizon</td>
                    <td class="center">iPhone 5S 32GB - Verizon</td>
                    <td class="center">iPhone 5S 64GB - Verizon</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-16gb-verizon" %><a href="/store/products/apple-iphone-5s-16gb-verizon" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-32gb-verizon" %><a href="/store/products/apple-iphone-5s-32gb-verizon" class="btn btn-success btn-rounded center-block">32GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-64gb-verizon" %><a href="/store/products/apple-iphone-5s-64gb-verizon"class="btn btn-success btn-rounded center-block">64GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5smemorysprint" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5S 16GB - Sprint</td>
                    <td class="center">iPhone 5S 32GB - Sprint</td>
                    <td class="center">iPhone 5S 64GB - Sprint</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-16gb-sprint" %><a href="/store/products/apple-iphone-5s-16gb-sprint" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-32gb-sprint" %><a href="/store/products/apple-iphone-5s-32gb-sprint" class="btn btn-success btn-rounded center-block">32GB</a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5S.png", class: "apple_phone", alt: "iPhone 5S"), "/store/products/apple-iphone-5s-64gb-sprint" %><a href="/store/products/apple-iphone-5s-64gb-sprint"class="btn btn-success btn-rounded center-block">64GB</a></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="collapse" id="iphone5ccarrier">
            <div id="iphone5cmemory" class="homepanel">
              <span>Select Your Carrier:</span>
              <table class="table">
                <tr>
                  <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone5cmemory", :target => "#iphone5cmemoryatt"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone5cmemory", :target => "#iphone5cmemorytmobile"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone5cmemory", :target => "#iphone5cmemoryverizon"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone5cmemory", :target => "#iphone5cmemorysprint"}) %></th>
                </tr>
              </table>
              <div id="iphone5cmemoryatt" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5C 16GB - AT&T</td>
                    <td class="center">iPhone 5C 32GB - AT&T</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 16GB"), "/store/products/apple-iphone-5c-16gb-at-t" %><a href="/store/products/apple-iphone-5c-16gb-at-t" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 32GB"), "/store/products/apple-iphone-5c-32gb-at-t" %><a href="/store/products/apple-iphone-5c-32gb-at-t" class="btn btn-success btn-rounded center-block">32GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5cmemorytmobile" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5C 16GB - T-Mobile</td>
                    <td class="center">iPhone 5C 32GB - T-Mobile</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 16GB"), "/store/products/apple-iphone-5c-16gb-t-mobile" %><a href="/store/products/apple-iphone-5c-16gb-t-mobile" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 32GB"), "/store/products/apple-iphone-5c-32gb-t-mobile" %><a href="/store/products/apple-iphone-5c-32gb-t-mobile" class="btn btn-success btn-rounded center-block">32GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5cmemoryverizon" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5C 16GB - Verizon</td>
                    <td class="center">iPhone 5C 32GB - Verizon</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 16GB"), "/store/products/apple-iphone-5c-16gb-verizon" %><a href="/store/products/apple-iphone-5c-16gb-verizon" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 32GB"), "/store/products/apple-iphone-5c-32gb-verizon" %><a href="/store/products/apple-iphone-5c-32gb-verizon" class="btn btn-success btn-rounded center-block">32GB</a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5cmemorysprint" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5C 16GB - Sprint</td>
                    <td class="center">iPhone 5C 32GB - Sprint</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 16GB"), "/store/products/apple-iphone-5c-16gb-sprint" %><a href="/store/products/apple-iphone-5c-16gb-sprint" class="btn btn-success btn-rounded center-block ">16GB</a></th>
                    <th><%= link_to image_tag("phones/apple/iPhone5C.png", class: "apple_phone", alt: "iPhone 5c 32GB"), "/store/products/apple-iphone-5c-32gb-sprint" %><a href="/store/products/apple-iphone-5c-32gb-sprint" class="btn btn-success btn-rounded center-block">32GB</a></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="collapse" id="iphone5carrier">
            <div id="iphone5memory" class="homepanel">
              <span>Select Your Carrier:</span>
              <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone5memory", :target => "#iphone5memoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone5memory", :target => "#iphone5memorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone5memory", :target => "#iphone5memoryverizon"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone5memory", :target => "#iphone5memorysprint"}) %></th>
              </tr>
            </table>
              <div id="iphone5memoryatt" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5 16GB - AT&T</td>
                    <td class="center">iPhone 5 32GB - AT&T</td>
                    <td class="center">iPhone 5 64GB - AT&T</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-16gb-at-t"  %> <a href="/store/products/apple-iphone-5-16gb-at-t" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-32gb-at-t"  %> <a href="/store/products/apple-iphone-5-32gb-at-t" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-64gb-at-t"  %> <a href="/store/products/apple-iphone-5-64gb-at-t" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5memorytmobile" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5 16GB - T-Mobile</td>
                    <td class="center">iPhone 5 32GB - T-Mobile</td>
                    <td class="center">iPhone 5 64GB - T-Mobile</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-16gb-t-mobile"  %> <a href="/store/products/apple-iphone-5-16gb-t-mobile" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-32gb-t-mobile"  %> <a href="/store/products/apple-iphone-5-32gb-t-mobile" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-64gb-t-mobile"  %> <a href="/store/products/apple-iphone-5-64gb-t-mobile" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5memoryverizon" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5 16GB - Verizon</td>
                    <td class="center">iPhone 5 32GB - Verizon</td>
                    <td class="center">iPhone 5 64GB - Verizon</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-16gb-verizon"  %> <a href="/store/products/apple-iphone-5-16gb-verizon" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-32gb-verizon"  %> <a href="/store/products/apple-iphone-5-32gb-verizon" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-64gb-verizon"  %> <a href="/store/products/apple-iphone-5-64gb-verizon" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone5memorysprint" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 5 16GB - Sprint</td>
                    <td class="center">iPhone 5 32GB - Sprint</td>
                    <td class="center">iPhone 5 64GB - Sprint</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-16gb-sprint"  %> <a href="/store/products/apple-iphone-5-16gb-sprint" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-32gb-sprint"  %> <a href="/store/products/apple-iphone-5-32gb-sprint" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone5.png", class: "apple_phone"),"/store/products/apple-iphone-5-64gb-sprint"  %> <a href="/store/products/apple-iphone-5-64gb-sprint" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="collapse" id="iphone4scarrier">
            <div id="iphone4smemory" class="homepanel">
              <span>Select Your Carrier:</span>
              <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone4smemory", :target => "#iphone4smemoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone4smemory", :target => "#iphone4smemorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone4smemory", :target => "#iphone4smemoryverizon"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#iphone4smemory", :target => "#iphone4smemorysprint"}) %></th>
              </tr>
            </table>
              <div id="iphone4smemoryatt" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4S 8GB - AT&T</td>
                    <td class="center">iPhone 4S 16GB - AT&T</td>
                    <td class="center">iPhone 4S 32GB - AT&T</td>
                    <td class="center">iPhone 4S 64GB - AT&T</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-8gb-at-t"  %> <a href="/store/products/apple-iphone-4s-8gb-at-t" class="btn btn-success btn-rounded center-block">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-16gb-at-t"  %> <a href="/store/products/apple-iphone-4s-16gb-at-t" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-32gb-at-t"  %> <a href="/store/products/apple-iphone-4s-32gb-at-t" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-64gb-at-t"  %> <a href="/store/products/apple-iphone-4s-64gb-at-t" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone4smemorytmobile" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4S 8GB - T-Mobile</td>
                    <td class="center">iPhone 4S 16GB - T-Mobile</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-8gb-t-mobile"  %> <a href="/store/products/apple-iphone-4s-8gb-t-mobile" class="btn btn-success btn-rounded center-block button_width_200">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-16gb-t-mobile"  %> <a href="/store/products/apple-iphone-4s-16gb-t-mobile" class="btn btn-success btn-rounded center-block button_width_200">16GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone4smemoryverizon" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4S 8GB - Verizon</td>
                    <td class="center">iPhone 4S 16GB - Verizon</td>
                    <td class="center">iPhone 4S 32GB - Verizon</td>
                    <td class="center">iPhone 4S 64GB - Verizon</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-8gb-verizon"  %> <a href="/store/products/apple-iphone-4s-8gb-verizon" class="btn btn-success btn-rounded center-block">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-16gb-verizon"  %> <a href="/store/products/apple-iphone-4s-16gb-verizon" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-32gb-verizon"  %> <a href="/store/products/apple-iphone-4s-32gb-verizon" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-64gb-verizon"  %> <a href="/store/products/apple-iphone-4s-64gb-verizon" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone4smemorysprint" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4S 8GB - Sprint</td>
                    <td class="center">iPhone 4S 16GB - Sprint</td>
                    <td class="center">iPhone 4S 32GB - Sprint</td>
                    <td class="center">iPhone 4S 64GB - Sprint</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-8gb-sprint"  %> <a href="/store/products/apple-iphone-4s-8gb-sprint" class="btn btn-success btn-rounded center-block">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-16gb-sprint"  %> <a href="/store/products/apple-iphone-4s-16gb-sprint" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-32gb-sprint"  %> <a href="/store/products/apple-iphone-4s-32gb-sprint" class="btn btn-success btn-rounded center-block">32GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4s-64gb-sprint"  %> <a href="/store/products/apple-iphone-4s-64gb-sprint" class="btn btn-success btn-rounded center-block">64GB </a></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="collapse" id="iphone4carrier">
            <div id="iphone4memory" class="homepanel">
              <span>Select Your Carrier:</span>
              <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#iphone4memory", :target => "#iphone4memoryatt"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#iphone4memory", :target => "#iphone4memorytmobile"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#iphone4memory", :target => "#iphone4memoryverizon"}) %></th>
              </tr>
            </table>
              <div id="iphone4memoryatt" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4 8GB - AT&T</td>
                    <td class="center">iPhone 4 16GB - AT&T</td>
                    <td class="center">iPhone 4 32GB - AT&T</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-8gb-at-t"  %> <a href="/store/products/apple-iphone-4-8gb-at-t" class="btn btn-success btn-rounded center-block">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-16gb-at-t"  %> <a href="/store/products/apple-iphone-4-16gb-at-t" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-32gb-at-t"  %> <a href="/store/products/apple-iphone-4-32gb-at-t" class="btn btn-success btn-rounded center-block">32GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone4memorytmobile" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4 8GB - T-Mobile</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-8gb-t-mobile"  %> <a href="/store/products/apple-iphone-4-8gb-t-mobile" class="btn btn-success btn-rounded center-block button_width_200">8GB </a></th>
                  </tr>
                </table>
              </div>
              <div id="iphone4memoryverizon" class="collapse homepanel">
                <span>Select iPhone Memory Size:</span>
                <span><button type="button" style="float: right;" class="btn btn-sm btn-warning memorysize" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPhone?</button></span>
                <table class="table">
                  <tr>
                    <td class="center">iPhone 4 8GB - Verizon</td>
                    <td class="center">iPhone 4 16GB - Verizon</td>
                    <td class="center">iPhone 4 32GB - Verizon</td>
                  </tr>
                  <tr>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-8gb-verizon"  %> <a href="/store/products/apple-iphone-4-8gb-verizon" class="btn btn-success btn-rounded center-block">8GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-16gb-verizon"  %> <a href="/store/products/apple-iphone-4-16gb-verizon" class="btn btn-success btn-rounded center-block">16GB </a></th>
                    <th><%= link_to image_tag("phones/apple/75x150iPhone4S.png", class: "apple_phone"),"/store/products/apple-iphone-4-32gb-verizon"  %> <a href="/store/products/apple-iphone-4-32gb-verizon" class="btn btn-success btn-rounded center-block">32GB </a></th>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="anyphone" class="collapse">
        <!-- The panels that results from clicking on "any phone" -M.O. -->
        <div id="anypanel" class="homepanel">
        <span>Select Phone Brand:</span>
        <table class="table">
          <tr>
            <th class="growimages "><%= image_tag("manufacturers/110apple.png", class: "brand_image", alt: "Apple", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#applecarriers"}) %></th>
            <th class="growimages "><%= image_tag("manufacturers/110blackberry.png", class: "brand_image", alt: "BlackBerry", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#blackberrycarriers"}) %></th>
            <th class="growimages "><%= image_tag("manufacturers/110samsung.png", class: "brand_image", alt: "Samsung", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#samsungcarriers"}) %></th>
            <th class="growimages "><%= image_tag("manufacturers/110motorola.png", class: "brand_image", alt: "Motorola", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#motorolacarriers"}) %></th>
          </tr>
          <tr>
            <th class="notopborder growimages "><%= image_tag("manufacturers/110htc.png", class: "brand_image", alt: "HTC", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#htccarriers"}) %></th>
            <th class="notopborder growimages "><%= image_tag("manufacturers/110nokia.png", class: "brand_image", alt: "Nokia", :data => {:toggle => "collapse", :parent => "#anypanel", :target => "#nokiacarriers"}) %></th>
          </tr>
        </table>
        <!-- divs that result from clicking on one of the phones from the anyphone category -->
        <div id="applecarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint") %></th>
            </tr>
          </table>
        </div>
        <div id="blackberrycarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint") %></th>
            </tr>
          </table>
        </div>
        <div id="samsungcarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint") %></th>
            </tr>
          </table></div>
        <div id="motorolacarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint") %></th>
            </tr>
          </table></div>
        <div id="htccarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint") %></th>
            </tr>
          </table>
        </div>
        <div id="nokiacarriers" class="collapse homepanel">
          <span>Select Phone Carrier:</span>
          <table class="table">
            <tr>
              <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile") %></th>
              <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon") %></th>
            </tr>
          </table>
        </div>
        </div>
      </div>
      <div id="iPad" class="collapse ">
        <div id="ipadpanel" class="homepanel">
        <span>Select Your iPad:</span>
        <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#ipad_modal" >Which iPad do I have?</button></span>
         <!-- The panel with the clickable images of the ipads -M.O. -->
        <table class="table">
          <tr>
            <th class="growimages"><%= image_tag("150ipad2.png",class: "ipad_image", alt: "iPad", :data => {:toggle => "collapse", :parent => "#ipadpanel", :target => "#ipad"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad</button></th>
            <th class="growimages"><%= image_tag("150ipadair.png",class: "ipad_image", alt: "iPad Air", :data => {:toggle => "collapse", :parent => "#ipadpanel", :target => "#ipadair"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad Air</button></th>
            <th class="growimages"><%= image_tag("150ipadmini.png",class: "ipad_image", alt: "iPad Mini", :data => {:toggle => "collapse", :parent => "#ipadpanel", :target => "#ipadmini"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad Mini</button></th>
          </tr>
        </table>
          <!-- The panels that result from clicking on an iPad -M.O. -->
          <div id="ipad" class="collapse">
            <div id="ipadcarrier" class="homepanel">
            <span>Select Generation:</span>
            <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#ipad_modal" >Which iPad do I have?</button></span>
              <table class="table">
              <tr>
                <th class="growimages"><%= image_tag("150ipad2.png",class: "ipad_image", alt: "iPad 2",  :data => {:toggle => "collapse", :parent => "#ipadcarrier", :target => "#ipad2carrier"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad 2 </button></th>
                <th class="growimages"><%= image_tag("150ipad2.png",class: "ipad_image", alt: "iPad 3",  :data => {:toggle => "collapse", :parent => "#ipadcarrier", :target => "#ipad3carrier"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad 3</button></th>
                <th class="growimages"><%= image_tag("150ipad2.png",class: "ipad_image", alt: "iPad 4", :data => {:toggle => "collapse", :parent => "#ipadcarrier", :target => "#ipad4carrier"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad 4</button></th>
              </tr>
            </table>
            <div id="ipad2carrier" class="collapse">
                <div id="ipad2memory" class="homepanel">
                <span>Select Carrier (if any) :</span>
                <table class="table">
                  <tr>
                    <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#ipad2memory", :target => "#ipad2attmemory"}) %></th>
                    <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#ipad2memory", :target => "#ipad2verizonmemory"}) %></th>
                  </tr>
                </table>
                  <div id="ipad2attmemory" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      </tr>
                    </table>
                  </div>
                  <div id="ipad2verizonmemory" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      </tr>
                    </table>
                  </div>
                </div>
            </div>
            <div id="ipad3carrier" class="collapse">
                <div id="ipad3memory" class="homepanel">
                  <span>Select Carrier (if any):</span>
                <table class="table">
                  <tr>
                    <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#ipad3memory", :target => "#ipad3memoryatt"}) %></th>
                    <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#ipad3memory", :target => "#ipad3memoryverizon"}) %></th>
                  </tr>
                </table>
                  <div id="ipad3memoryatt" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      </tr>
                    </table>
                  </div>
                  <div id="ipad3memoryverizon" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div id="ipad4carrier" class="collapse homepanel">
                <span>Select Carrier (if any):</span>
                <div id="ipad4memory">
                <table class="table">
                  <tr>
                    <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#ipad4memory", :target => "#ipad4memoryatt"}) %></th>
                    <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#ipad4memory", :target => "#ipad4memoryverizon"}) %></th>
                    <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#ipad4memory", :target => "#ipad4memorysprint"}) %></th>
                  </tr>
                </table>
                  <div id="ipad4memoryatt" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                      </tr>
                    </table>
                  </div>
                  <div id="ipad4memoryverizon" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                      </tr>
                    </table>
                  </div>
                  <div id="ipad4memorysprint" class="collapse homepanel">
                    <span>Select Memory Size:</span>
                    <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                    <table class="table">
                      <tr>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                        <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                      </tr>
                    </table>
                  </div>
              </div>
             </div>
            </div>
          </div>
          <div id="ipadair" class="collapse homepanel">
            <span>Select Carrier (if any):</span>
            <div id="ipadairmemory">
            <table class="table">
              <tr>
                <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#ipadairmemory", :target => "#ipadairattmemory"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#ipadairmemory", :target => "#ipadairverizonmemory"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#ipadairmemory", :target => "#ipadairsprintmemory"}) %></th>
                <th class="growimages "><%= image_tag("carriers/160x80tmobile.png", class: "carrier_image", alt: "T-Mobile", :data => {:toggle => "collapse", :parent => "#ipadairmemory", :target => "#ipadairtmobilememory"}) %></th>
              </tr>
            </table>
            <div class="collapse homepanel" id="ipadairattmemory">
              <span>Select Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
              <table class="table">
                <tr>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                </tr>
              </table>
            </div>
            <div class="collapse homepanel" id="ipadairverizonmemory">
              <span>Select Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
              <table class="table">
                <tr>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                </tr>
              </table>
            </div>
            <div class="collapse homepanel" id="ipadairsprintmemory">
              <span>Select Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
              <table class="table">
                <tr>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                  <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                </tr>
              </table>
            </div>
            <div class="collapse homepanel" id="ipadairtmobilememory">
              <span>Select Memory Size:</span>
              <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
              <table class="table">
                  <tr>
                    <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                    <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                    <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                    <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                  </tr>
                </table>
            </div>
            </div>
          </div>
          <div id="ipadmini" class="collapse">
            <div id="ipadminimemory" class="homepanel">
            <span>Select iPad Type:</span>
            <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#ipad_modal" >Which iPad Mini do I have?</button></span>
              <table class="table">
              <tr>
                <th class="growimages"><%= image_tag("150ipadmini.png",class: "ipad_image", alt: "iPad Mini", :data => {:toggle => "collapse", :parent => "#ipadminimemory", :target => "#minicarriers"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad Mini</button></th>
                <th class="growimages"><%= image_tag("150ipadmini.png",class: "ipad_image", alt: "iPad Mini with Retina Display", :data => {:toggle => "collapse", :parent => "#ipadminimemory", :target => "#miniretinacarriers"}) %><button type="button" class="btn btn-success btn-rounded center-block">iPad Mini with Retina Display</button></th>
              </tr>
            </table>
            <div id="minicarriers" class="collapse">
              <div id="originalminimemory" class="homepanel">
              <span>Select Carrier (if any):</span>
              <table class="table">
                <tr>
                  <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#originalminimemory", :target => "#originalminimemoryatt"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#originalminimemory", :target => "#originalminimemoryverizon"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#originalminimemory", :target => "#originalminimemorysprint"}) %></th>
                </tr>
              </table>
                <div id="originalminimemoryatt" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
                <div id="originalminimemoryverizon" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
                <div id="originalminimemorysprint" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div id="miniretinacarriers" class="collapse">
              <div id="minimemory" class="homepanel">
              <span>Select Carrier (if any):</span>
              <table class="table">
                <tr>
                  <th class="growimages "><%= image_tag("carriers/160x80att.png", class: "carrier_image", alt: "AT&T", :data => {:toggle => "collapse", :parent => "#minimemory", :target => "#attminimemory"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80verizon.png", class: "carrier_image", alt: "Verizon", :data => {:toggle => "collapse", :parent => "#minimemory", :target => "#verizonminimemory"}) %></th>
                  <th class="growimages "><%= image_tag("carriers/160x80sprint.png", class: "carrier_image", alt: "Sprint", :data => {:toggle => "collapse", :parent => "#minimemory", :target => "#sprintminimemory"}) %></th>
                </tr>
              </table>
                <div id="verizonminimemory" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
                <div id="attminimemory" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
                <div id="sprintminimemory" class="collapse homepanel">
                  <span>Select Memory Size:</span>
                  <span><button type="button" style="float: right;" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#memorysize" >What is the Memory Size of my iPad?</button></span>
                  <table class="table">
                    <tr>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">16GB </button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">32GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">64GB</button></th>
                      <th><button type="button" class="btn btn-success btn-rounded center-block">128GB</button></th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-3 top_divider">
    </div>
    <div class="col-md-12">
      <div class="col-md-12" style="margin-top: 15px;">
        <h2 class="colour" style="margin-top:0px;"><strong> How Does it Work? </strong></h2>
        <table class="works_table">
          <tr>
            <td style="padding-right: 5px;">
              <%= image_tag "icons/handshake.png", class: "width75" %> <h2> Receive a Free Quote</h2>
              <p style="text-align: left;"> Get a free quote in a few simple steps. <br>Price quotes are good for 30 days.</p>
            </td>
            <td style="padding: 0 10px;">
              <%= image_tag "icons/free_shipping.png", class: "width75"  %> <h2>Ship Your Device for Free</h2>
              <p style="text-align: left;">Shipping is free. We provide the prepaid shipping label you provide the box.</p>
            </td>
            <td style="padding-right: 50px;">
              <%= image_tag "icons/money_icon.png", class: "width75" %> <h2> Get Paid</h2>
              <p>Get paid via Check or Paypal. Payment in as little as 4 days.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
