<div class="row">
  <div class="col-xs-8 col-xs-offset-2">

<fieldset data-hook="admin_user_order_history" class="alpha twelve columns">
  <legend><%= Spree.t(:"admin.user.order_history") %></legend>


  <% if @orders.any? %>
      <%# TODO add search interface %>
      <table class="index responsive" id="listing_orders" data-hook>
        <colgroup>
          <col style="width: 25%;">
          <col style="width: 25%;">
          <col style="width: 25%;">
          <col style="width: 25%;">
        </colgroup>
        <thead>
        <tr data-hook="admin_orders_index_headers ">
          <th class="center order_history_header"><%= sort_link @search, :completed_at,   I18n.t(:completed_at, :scope => 'activerecord.attributes.spree/order'), {}, {:title => 'orders_completed_at_title'} %></th>
          <th class="center order_history_header"><%= sort_link @search, :number,         I18n.t(:number, :scope => 'activerecord.attributes.spree/order'), {}, {:title => 'orders_number_title'} %></th>
          <th class="center order_history_header"><%= sort_link @search, :item_count,     'Item Count'%></th>
          <th class="center order_history_header"><%= sort_link @search, :total,          I18n.t(:total, :scope => 'activerecord.attributes.spree/order'), {}, {:title => 'orders_total_title'} %></th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr data-hook="admin_orders_index_rows" class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %>">
              <td class="align-center "><%= (order.completed_at.to_date) if order.completed_at %></td>
              <td class="align-center "><%= link_to order.number, spree.order_path(order.number) %></td>
              <td class="center">Qty: <%= order.item_count %></td>
              <td class="center "><%= order.display_total.to_html %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div class="alpha twelve columns no-objects-found">
        <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
        <%= link_to Spree.t(:add_one), spree.new_admin_order_path %>!
      </div>
  <% end %>

</fieldset>

  </div>
</div>
