<!DOCTYPE html>
<html>
<head>
  <title>Simple Tronix | Cash for Cell Phones</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

</head>
<body>
<!--header-->
<div class="header">
  <div class="container">
    <!--logo-->
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fa fa-bars"></i></button>
    <div class="logo">
      <a href="/"><img src="/assets/logo.png" alt="" class="animated bounceInDown" /></a>
    </div>
    <!--menu-->
    <nav id="main_menu">
      <div class="nav-collapse collapse">
        <ul class="nav nav-pills">
          <li class="dropdown"><a href="javascript:{}"><strong>Sell iPhone</strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">iPhone 5S</a></li>
              <li><a href="#">iPhone 5C</a></li>
              <li><a href="#">iPhone 5</a></li>
              <li><a href="#">iPhone 4S</a></li>
              <li><a href="#">iPhone 4</a></li>

            </ul>
          </li>
          <li class="dropdown"><a href="javascript:{}"><strong>Sell Cellphone</strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">Apple</a></li>
              <li><a href="#">Blackberry</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Motorola</a></li>
              <li><a href="#">HTC</a></li>
              <li><a href="#">Nokia</a></li>



            </ul>
          </li>
          <li class="dropdown"><a href="javascript:{}"><strong>About Us</strong></a></li>
          <li class="dropdown"><a><strong>Support</strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">Track Order</a></li>
              <li><a href="/home/contact">Contact Us</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
          <% if user_signed_in? %>
              <li class="dropdown <%= is_active?(edit_user_registration_path) %>"><a><strong>Your Account</strong></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><strong>Track Order</strong></a></li>
                  <li><a href="<%= edit_user_registration_path %>"><strong>Edit Account</strong></a></li>
                  <li><a rel="nofollow" href="<%= destroy_user_session_path %>" data-method="delete"><strong>Sign out</strong></a></li>
                </ul>
              </li>
          <% else %>
          <li class="dropdown"><a href="<%= new_user_session_path%>"><strong>Sign In</strong></a></li>
        </ul>

          <% end %>
      </div>
    </nav>
  </div>
</div>
<!--//header-->
<!-- page -->
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

<!--footer-->
<div id="footer2">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div style="color: #ffffff;">
          Simple Tronix Inc.
          &copy; 2014

          - All Rights Reserved <a href="#"><Strong>Privacy Policy</Strong></a> | <a href="#"><strong>Terms & Conditions</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- up to top -->
<a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
<!--//end-->

</body>

</html>
